body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-dropdown {
  margin-left: 0.5rem;
  width: auto;
}

.color-nav {
  background-color: rgb(202, 250, 209);
}

.btn-primary {
  background-color: #5e3a16;
  border-color: #5e3a16;
}

.btn-primary:hover {
  background-color: #a01eee;
  border-color: #a01eee;
}

.table-responsive {
  display: block;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .table-responsive thead {
    display: none;
  }
  .table-responsive tbody td {
    display: block;
    text-align: right;
  }
  .table-responsive tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}